version: '3.3'

services:
  drupal:
    image: drupal:8-apache
    ports:
      - 80
    volumes:
      - /var/www/html/modules
      - /var/www/html/profiles
      - /var/www/html/themes
      - /var/www/html/sites
    networks:
      - test
 
  postgres:
    image: postgres:10
    environment:
      POSTGRES_PASSWORD: example
    networks:
      - test

networks:
  test:
    driver: bridge
